body {
  height: 100vh;
  margin: 0;
  padding: 0; 
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #34495e; /* Fondo gris claro para toda la página */
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%; 
  width:100%;
}

.toolbar {
  position: absolute;
  top: 0px; /* Ajustar según sea necesario */
  right:0px; /* Ajustar según sea necesario */
  background-color: #ffffff; /* Fondo blanco */
  padding: 5px; /* Espacio interior reducido */
  border: 5px solid #000000; /* Borde delgado, color negro */
  border-radius: 4px; /* Bordes redondeados */
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); /* Sombra suave */
  font-family: Arial, sans-serif; /* Fuente */
  text-align: center; /* Centrar contenido horizontalmente */
}

.toolbar button {
  background-color: #34495e; /* Color de fondo azul oscuro */
  color: #ffffff; /* Color de texto blanco */
  border: none; /* Sin borde */
  padding: 8px 12px; /* Espacio interior reducido */
  text-align: center; /* Alineación del texto */
  text-decoration: none; /* Sin subrayado */
  display: inline-block; /* Mostrar como bloque en línea */
  font-size: 14px; /* Tamaño de fuente reducido */
  margin: 3px; /* Margen uniforme entre botones */
  cursor: pointer; /* Cambio de cursor */
  transition: background-color 0.3s ease; /* Transición suave */
}

.toolbar button:hover {
  background-color: #000000; /* Color de fondo más oscuro al pasar el ratón */
}

.toolbar button:active {
  background-color: #34495e; /* Volver al color original al hacer clic */
}


#main-canvas {
  border: 2px solid black;
  background-size: 20px 20px; /* Tamaño de la cuadrícula */
  background-image: linear-gradient(to right, #ddd 1px, transparent 1px),
                    linear-gradient(to bottom, #ddd 1px, transparent 1px);
  width: 100%; /* Ajusta según sea necesario */
  height: 100%; /* Ajusta según sea necesario */
  display: block;
  margin: auto;
  background-color: white;
}

#position-editor {
  position: absolute;
  top: 400px;
  left: 100px;
  background-color: white;
  padding: 15px;
  border: 2px solid #34495e;
  display: none; 
}
  
  #beam-editor {
    position: absolute;
    top: 400px;
    left: 100px;
    background-color: white;
    padding: 15px;
    border: 2px solid #34495e;
    display: none; }
  
  #beam-editor input[type=text] {
    width: 60px; }
  
  .mode-menu {
    width: 100%;
    height: 36px;
    line-height: 35px;
    text-align: center; }
  
  .mode-menu button {
    margin: 0px 20px; }







    
 /* Estilos para la ventana modal */
.modal {
  display: none; /* Oculta la ventana por defecto */
  position: fixed; /* Fija la ventana en la pantalla */
  z-index: 1; /* Asegura que la ventana esté por encima de otros elementos */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Permite el desplazamiento si el contenido es grande */
  background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro con transparencia */
}

.modal-content {
  background-color: white;
  margin: 15% auto; /* Centra el contenido de la ventana */
  padding: 20px;
  border: 1px solid #34495e;
  width: 80%; /* Ancho de la ventana */
  max-width: 600px; /* Ancho máximo de la ventana */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  border-radius: 10px; /* Bordes redondeados */
}

.close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close-button:hover,
.close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.modal-links a:hover {
  text-decoration: underline;
}
















.select-mode .joint, 
.select-mode .beam {
    cursor: pointer;
    transition: border-color 0.3s ease, background-color 0.3s ease; /* Transición suave para el color del borde y del fondo */
}

.select-mode .joint.selected, 
.select-mode .beam.selected {
    border: 2px solid #e74c3c; /* Borde de 2px sólido y color rojo */
    background-color: #34495e; /* Fondo azul cielo */
    transition: border-color 0.3s ease, background-color 0.3s ease; /* Transición suave para el color del borde y del fondo */
    border-radius: 4px; /* Bordes redondeados */
    box-shadow: 0 0 5px rgba(231, 76, 60, 0.7); /* Sombra suave alrededor */
}

