body {
  height: 100vh;
  margin: 0;
  padding: 0; 
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%; 
  width:100%;
}

/* Estilo para la barra de herramientas */
.toolbar {
  position: absolute;
  top: 0px; /* Ajustar según sea necesario */
  right: 0px; /* Ajustar según sea necesario */
  background: linear-gradient(135deg, #ffff, #969696); /* Gradiente de blanco a verde */
  padding: 10px; /* Espacio interior más amplio */
  border: 5px solid #000000; /* Borde delgado, color negro */
  border-radius: 8px; /* Bordes ligeramente redondeados */
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); /* Sombra suave */
  font-family: Arial, sans-serif; /* Fuente */
  text-align: center; /* Centrar contenido horizontalmente */
}



/* Estilo para los botones en la barra de herramientas */
.toolbar button {
  background-color: #000000; /* Color de fondo negro */
  border: 2px solid #000000; /* Borde delgado negro */
  border-radius: 8px; /* Bordes ligeramente redondeados */
  padding: 8px 12px; /* Espacio interior del botón */
  cursor: pointer; /* Cambio de cursor */
  transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Transición suave */
  color: #ffffff; /* Color del texto blanco */
  font-size: 14px; /* Tamaño de fuente */
  font-weight: bold; /* Negrita para mejor visibilidad */
  text-align: center; /* Centrar texto */
  display: inline-block; /* Mostrar como bloque en línea */
  position: relative; /* Necesario para la posición de la animación */
  margin: 5px 0; /* Separación vertical entre botones */
}

/* Estilo para el efecto hover */
.toolbar button:hover {
  background-color: #333333; /* Color de fondo ligeramente más claro al pasar el ratón */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra más pronunciada en hover */
}

/* Estilo para el efecto activo (clic) */
.toolbar button:active {
  background-color: #000000; /* Mantener color negro al hacer clic */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra más pequeña en clic */
}

/* Efecto de animación de llama naranja/rojo al hacer clic */
.toolbar button:focus {
  animation: flameAnimation 1s infinite; /* Activar animación al enfocar el botón */
  outline: none; /* Eliminar el borde de enfoque predeterminado */
}



/* Estilo para el texto dentro del botón */
.toolbar button span {
  display: inline-block;
  vertical-align: middle; /* Alinear verticalmente con la imagen */
}

#main-canvas {
  border: 2px solid black;
  background-size: 20px 20px; /* Tamaño de la cuadrícula */
  background-image: linear-gradient(to right, #ddd 1px, transparent 1px),
                    linear-gradient(to bottom, #ddd 1px, transparent 1px);
  width: 100%; 
  height: 100%; 
  display: block;
  margin: auto;
  background-color: white;
}
.no-grid {
  background-image: none !important;
}

#position-editor, #beam-editor {
  position: absolute;
  top: 400px;
  left: 100px;
  background: linear-gradient(135deg, #ffff, #969696); 
  color: #000000; /* Texto negro */
  padding: 15px;
  border: 5px solid #000000; /* Borde negro */
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); /* Sombra suave */
  display: none; 
  font-family: Arial, sans-serif; /* Fuente */
  text-align: center; /* Centrar texto */
}

/* Estilo para los inputs dentro del beam-editor y position-editor */
#beam-editor input[type=text], #position-editor input[type=text] {
  width: 80px; /* Ajustar el ancho del input */
  padding: 5px;
  border: 2px solid #2e2e2e; /* Borde de color #2e2e2e */
  border-radius: 4px; /* Bordes redondeados */
  background-color: #2e2e2e; /* Fondo de color #2e2e2e */
  color: #ffffff; /* Texto blanco */
  margin: 5px auto; /* Centrar el input horizontalmente */
  display: block; /* Asegurarse de que el input sea un bloque para centrado */
}

/* Estilo para el menú de modo */
.mode-menu {
  width: 100%;
  height: 48px; /* Altura del menú de modo */
  line-height: 48px; /* Alinear verticalmente los botones */
  text-align: center;
  background: linear-gradient(135deg, #ffff, #969696);
  border-bottom: 5px solid #000000; /* Borde negro en la parte inferior */
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); /* Sombra suave */
  display: flex; /* Utilizar flexbox para centrar los botones */
  justify-content: center; /* Centrar botones horizontalmente */
  align-items: center; /* Centrar botones verticalmente */
  font-family: Arial, sans-serif; /* Fuente */
  color: #000000; /* Texto negro */
}

/* Estilo para los botones */
.mode-menu button, #position-editor button, #beam-editor button {
  background-color: #000000; /* Fondo negro del botón */
  border: 2px solid #000000; /* Borde negro */
  border-radius: 8px; /* Bordes redondeados */
  padding: 8px 12px; /* Espaciado interno del botón */
  color: #ffffff; /* Texto blanco */
  font-size: 14px; /* Tamaño de fuente */
  font-weight: bold; /* Negrita para mejor visibilidad */
  text-align: center; /* Centrar texto */
  display: inline-block; /* Mostrar como bloque en línea */
  cursor: pointer; /* Cursor de mano al pasar sobre el botón */
  margin: 5px 0; /* Separación vertical entre botones */
  transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Transición suave */
  position: relative; /* Necesario para la posición de la animación */
}



/* Estilo para el efecto hover */
.mode-menu button:hover, #position-editor button:hover, #beam-editor button:hover {
  background-color: #333333; /* Fondo ligeramente más claro al pasar el ratón */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra más pronunciada en hover */
}

/* Estilo para el efecto activo (clic) */
.mode-menu button:active, #position-editor button:active, #beam-editor button:active {
  background-color: #000000; /* Mantener color negro al hacer clic */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra más pequeña en clic */
}

/* Efecto de animación de llama naranja/rojo al hacer clic */
.mode-menu button:focus, #position-editor button:focus, #beam-editor button:focus {
  animation: flameAnimation 1s infinite; /* Activar animación al enfocar el botón */
  outline: none; /* Eliminar el borde de enfoque predeterminado */
}

/* Animación de llama naranja/rojo */
@keyframes flameAnimation {
  0% {
    background-color: #000000;
    box-shadow: 0 0 10px #131313;
  }
  50% {
    background-color: #333333;
    box-shadow: 0 0 20px #000000;
  }
  100% {
    background-color: #000000;
    box-shadow: 0 0 10px #131313;
  }
}

/* Estilo para las imágenes dentro de los botones */
.mode-menu button img, #position-editor button img, #beam-editor button img {
  width: 12px; /* Tamaño de la imagen (ajustar según necesidad) */
  height: 12px; /* Tamaño de la imagen (ajustar según necesidad) */
  vertical-align: middle; /* Alinear verticalmente con el texto */
}

/* Estilo para el texto dentro del botón */
.mode-menu button span, #position-editor button span, #beam-editor button span {
  display: inline-block;
  vertical-align: middle; /* Alinear verticalmente con la imagen */
}

/* Estilos para la ventana modal */
.modal {
  display: none; /* Oculta la ventana por defecto */
  position: fixed; /* Fija la ventana en la pantalla */
  z-index: 1; /* Asegura que la ventana esté por encima de otros elementos */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Permite el desplazamiento si el contenido es grande */
  background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro con transparencia */
}

/* Estilos para el contenido de la ventana modal */
.modal-content {
  background: linear-gradient(135deg, #ffff, #969696); /* Fondo blanco con gradiente verde */
  margin: 15% auto; /* Centra el contenido de la ventana */
  padding: 20px;
  border: 5px solid #000000; /* Borde negro */
  width: 80%; /* Ancho de la ventana */
  max-width: 600px; /* Ancho máximo de la ventana */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* Sombra para la ventana modal */
  border-radius: 8px; /* Bordes redondeados */
  color: #000000; /* Color del texto negro */
}

/* Estilos para el botón de cerrar */
.close-button {
  color: #646464;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close-button:hover,
.close-button:focus {
  color: #000000; /* Color del botón de cerrar al pasar el ratón */
  text-decoration: none;
}

.modal-links a {
  margin: 0 0px;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
}

.modal-links img {
  width: 36px;
  height: 36px;
  vertical-align: middle;
}

.modal-links a:hover img {
  filter: brightness(0.8);
}

.modal-content input[type=text] {
  width: calc(100% - 10px);
  padding: 5px;
  border: 2px solid #2e2e2e;
  border-radius: 4px;
  background-color: #2e2e2e;
  color: #ffffff;
  margin: 5px 0;
  display: block;
}

















